body {
  background-color: #ACD4C1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 64px;
  padding-top: 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.page {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: end;
  font-size: 20px;
  font-weight: 100;
  color: #0C4836;
  align-items: start;
  margin-bottom: 200px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.cartbutton {
  display: flex;
  color: #FFFFFF;
  border: 1px solid #0C4836;
  border-radius: 5px;
  background-color: #0C4836;
  width: 170px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.wishlistbutton {
  display: flex;
  border: 1px solid #0C4836;
  border-radius: 5px;
  width: 170px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.background-pic {
  width: 100%;
}