body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #414e73;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 29.44px;
  letter-spacing: -0.5333333611488342px;
  color: #36362c;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 540px;
  background-color: #181f33;
  text-align: center;
}

.box {
  background-color: #181f33;
  border-radius: 15px;
  text-align: right;
  height: 128px;
  font-family: League Spartan;
  font-size: 56px;
  font-weight: 700;
  line-height: 51.52px;
  letter-spacing: -0.9333333373069763px;
  color: #36362c;
  align-content: center;
  padding-right: 32px;
  color: #ffffff;
}

.grey-bg {
  background-color: #647198;
  color: #fff;
  font-family: League Spartan;
  font-size: 28px;
  font-weight: 700;
  line-height: 25.76px;
  letter-spacing: -0.46666666865348816px;
  font-family: "League Spartan", sans-serif;
  font-family: League Spartan;
  font-size: 28px;
  font-weight: 700;
  line-height: 25.76px;
  letter-spacing: -0.46666666865348816px;
  text-align: center;
}

.red-bg {
  background-color: #d03f2f;
  color: #fff;
}

.span-2 {
  display: grid;
  grid-column: span 2;
  width: 235px;
  align-items: center;
}

button {
  background-color: #eae3dc;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  width: 60px;
  font-size: 18px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  line-height: 36.8px;
  letter-spacing: -0.6666666865348816px;
  text-align: center;
  width: 101px;
}

button:hover {
  background-color: #d9d9d9;
}

.grey-bg:hover {
  background-color: #a2b2e1;
}

.red-bg:hover {
  background-color: #f96b5b;
}

@media (width <=375px) {
  body {
    width: 375px;
    margin-inline: auto;
    padding-inline: 24px;
  }

  .calculator {
    width: 327px;
  }

  button {
    width: 70px;
  }

  .span-2 {
    width: 150px;
  }

  .box {
    font-size: 32px;
    font-weight: 700;
    line-height: 29.44px;
    letter-spacing: -0.5333333611488342px;
  }
}
